
body{
    background-color: #860972;
    font-size: 100%;
    margin: 10px;
    color: white;
}
/*LINK NAV*/
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

/*LOGO*/
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing:  4px;
}
/*FORMATAÇÃO DA NAVEGAÇÃO*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #441c47;
    height: 10vh;
}
/*FORMATAÇÃO DA LISTA*/
.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 5px;
    margin-left: 32px;
}
/*CRIANDO MENU SANDUICHE*/

.mobile-menu div{ 
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}
/*RESPONSIVIDADE MOBILE*/
@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute; /*ira se sobrepor a qualquer elemento*/
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(53, 2, 54, 0.5);    
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: o;
        opacity: 0;
    }

    .mobile-menu{
         display: block;
    }
}

/*BARRA DE ROLAGEM*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #131313;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(47, 36, 65, 0.5);
    border-radius: 10px;
}


.conteudo{
    color: #ecd0d1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 0.4px white solid;
    border-bottom: 0.4px white solid;
    justify-content: space-around;
}

.conteudo-escrito{
    color: #ecd0d1;;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

button{
    border-radius: 8px;
    background: #8b0968;
    box-shadow: inset 14px 14px 50px #840963,
            inset -14px -14px 50px #92096d;
    
    font-size: 15px;
    padding: 5px;
    display: block;
    align-items: center;
}

button:hover{
    color: rgb(114, 4, 77);
    background: #E0E0F0;
}


a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

.header a:hover{
    color: rgb(114, 4, 77);
    background: #E0E0F0;
    border-radius: 30px;
    padding: 10px;
}

footer{
    height:90px;
}

.discord, .spotify{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around 05px;
}

